[Unit]
Description=Auto CD ripper

[Service]
Type=oneshot
ExecStart=/home/jlivin25/bin/myscripts/controlscripts/CDRipping.sh

[Install]
WantedBy=multi-user.target
