[Unit]
Description=Backup Internal HD - External SSD
Requires=media-Seagate_Ext.mount
After=media-Seagate_Ext.mount

[Service]
ExecStart=/usr/local/bin/AutoBackupTest2.sh

[Install]
WantedBy=media-Seagate_Ext.mount
