# A systemd service to trigger ripping of blu rays, this script is called by a udev rule
# this script should be stored in /etc/sytemd/system with permissions 444

[Unit]
Description=Auto Blu-Ray ripper

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bd_ripping.sh

[Install]
WantedBy=multi-user.target
