# A systemd service to trigger ripping of blu rays, this script is called by a udev rule
# this script should be stored in /etc/sytemd/system with permissions 444

[Unit]
Description=Auto CD ripper

User=jlivin25
Group=jlivin25

[Service]
Type=oneshot
ExecStart=/home/jlivin25/bin/control_scripts/ripping_scripts/cd_ripping.sh

[Install]
WantedBy=multi-user.target
