# A systemd service to trigger ripping of blu rays, this script is called by a udev rule
# this script should be stored in /etc/sytemd/system with permissions 444

[Unit]
Description=Auto CD ripper

[Service]
Type=oneshot
ExecStart=/home/jlivin25/bin/controlscripts/cd_ripping.sh

[Install]
WantedBy=multi-user.target
